{
	"irc": {
		"nick": "DisGoIRC",
		"user": "DisGoIRC",
		"pass": "my-irc-password",
		"ssl": true,
		"ssl_verify": true,
		"server": "irc.example.com:6697"
		"command_chars": "?!"
	},
	"discord": {
		"token": "DISCORD-TOKEN-GOES-HERE",
		"use_nicknames": false,
		"command_chars": "="
	},
	"mapping": {
		"#my-irc-channel":       "my-discord-server-name#general",
		"#my-other-irc-channel": "my-discord-server-name#otherchannel",

		"#other-discord": "second-discord-server#general"
	}
}
