{
	"irc": {
		"nick": "DisGoIRC",
		"user": "DisGoIRC",
		"pass": "my-irc-password",
		"ssl": true,
		"ssl_verify": true,
		"server": "irc.example.com:6697"
		"command_chars": "?!"
	},
	"discord": {
		"token": "DISCORD-TOKEN-GOES-HERE",
		"use_nicknames": false,
		"forward_embeds": true,
		"command_chars": "="

		"max_lines": 0,
		"paste_filepath": "/path/to/paste/folder/x/y/z",
		"paste_url": "http://url.of.paste.folder/x/y/z"
	},
	"mapping": {
		"#my-irc-channel":       "my-discord-server-name#general",
		"#my-other-irc-channel": "my-discord-server-name#otherchannel",

		"#other-discord": "second-discord-server#general"
	}
}
